#map {
    width: 100%;
    max-width: 500px;
}

#mapContainer {
    height: 141.8vw;
}

#dot {
    width: 8vw;
    margin-top: -8vw;
    margin-left: -4vw;
    position: relative;
    display: none;
    transition: top 0.5s, left 0.5s;
}

img.elevator {
    height: 8vw;
    margin-top: -8vw;
    margin-left: -8vw;
    position: relative;
    display: block;
    left: 36.5%;
}
#elevator1 {
    top: 19.4%;
}
#elevator2 {
    top: 49.2%;
}
#elevator3 {
    top: 82%;
}

img.door {
    height: 8vw;
    margin-top: -8vw;
    margin-left: -8vw;
    position: relative;
    display: block;
    left: 45%;
}
#door1 {
    top: 19.4%;
}
#door2 {
    top: 49.2%;
}
#door3 {
    top: 82%;
}

#north {
    height: 4vw;
    margin-top: -4vw;
    position: relative;
    display: inherit;
    top: 5.5%;
    left: 53%;
}

#square {
    width: 8vw;
    height: 8vw;
    border: 1vw solid red;
    margin-top: -8vw;
    margin-left: -8vw;
    position: relative;
    display: none;
    transition: top 0.5s, left 0.5s;
    animation-duration: 1s;
}

@keyframes blink {
    0%   {background-color: transparent;}
    50%  {background-color: #f00;}
    100% {background-color: transparent;}
  }

@media (min-width: 500px) {
    #mapContainer {
        margin: 0 calc((100% - 500px) / 2);
        height: 708.188px;
    }
    #dot {
        width: 35px;
        margin-top: -35px;
        margin-left: -17.5px;
    }
    img.elevator {
        height: 40px;
        margin-top: -40px;
        margin-left: -40px;
    }
    img.door {
        height: 40px;
        margin-top: -40px;
        margin-left: -40px;
    }
    #north {
        height: 20px;
        margin-top: -20px;
    }
    #square {
        width: 40px;
        height: 40px;
        border-width: 5px;
        margin-top: -40px;
        margin-left: -40px;
    }
}