html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-color: #111;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    padding: 0.7em;
    font-size: 0.7em;
    text-align: center;
}

.footer .container {
    width: max-content;
}

footer > div > span > a {
    text-decoration: underline;
}

.hidden{
    display: none !important;
}