html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

#map {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 0.7em;
    font-size: 0.7em;
}

.footer .container {
    width: max-content;
}