html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-color: #111;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    padding: 0.7em;
    font-size: 0.7em;
}

.footer .container {
    width: max-content;
}

footer > div > span > a {
    text-decoration: underline;
}


@media (max-width: 330px) {
    a.navbar-brand{
        font-size: 19px;
    }
    footer > div > span {
        font-size: 10px;
    }
}

.hidden{
    display: none !important;
}